
<form [formGroup]="RoomUpdateForm">
  <div class="form-group">
    <label for="roomName">Room Name</label>
    <input type="text" class="form-control" id="roomName" formControlName="roomName">
  </div>
  <div class="form-group">
    <label for="roomStatus">Room Status</label>
    <input type="text" class="form-control" id="roomStatus" formControlName="roomStatus">
  </div>
  <div class="form-group">
    <label for="startTime">Start Time</label>
    <input type="text" class="form-control" id="startTime" formControlName="startTime">
  </div>
  <button type="submit" class="btn btn-primary" (click)="updateRoom()">Update Room</button>
</form>

<div class="card">
  <div class="card-body">
    <b>Room ID: </b>
    {{roomPage.data.roomID}}
    <!-- This is some text within a card body. -->
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b>Room Name: </b>
    {{roomPage.data.roomName}}
    <!-- This is some text within a card body. -->
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b>Room Status:</b>
    {{roomPage.data.roomStatus}}
    <!-- This is some text within a card body. -->
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b>Room StartTime: </b>
    {{roomPage.data.startTime}}
    <!-- This is some text within a card body. -->
  </div>
</div>

<div class="card">
  <div class="card-body">
    <button
		type="button"
		class="btn btn-outline-primary ms-2"
		(click)="isCollapsed = !isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
    Get Students
	</button>

  </div>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
	<div class="card">
    <div class="card-body">
      <ul class="list-group" *ngFor="let participant of roomPage.data.participants">
        <li class="list-group-item list-group-item-light">
          <div class="container">
            <div class="row">
              <div class="col">
                <b>Student ID: </b>
                {{participant.userID}}
              </div>
              <div class="col">
                <b>Student Name: </b>
                {{participant.username}}
              </div>
              <div class="col">
                <b>Student Email: </b>
                {{participant.email}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
	</div>
</div>
<div class="card">
  <div class="card-body">
    <button
    type="button"
    class="btn btn-outline-primary ms-2"
    (click)="isCollapsed2 = !isCollapsed2"
    [attr.aria-expanded]="!isCollapsed2"
    aria-controls="collapseExample"
  >
    Get Questions
  </button>
  </div>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
	<div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
            <tr class="center">
                <th scope="col">#</th>
                <th scope="col">Question ID</th>
                <th scope="col">Question</th>
                <th scope="col">Question Options</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop over the data array -->
            <tr *ngFor="let question of questionInfo.data; let i = index">
                <th scope="row">{{ i + 1 + ((questionInfo.page - 1) * questionInfo.pageSize) }}</th>
                <td>{{ question.questionID }}</td>
                <td>{{ question.question }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <!-- Assuming questionStatus represents the room status -->
                        <!-- <button type="button" class="btn btn-{{question.answer == 0 ?? "outline"}}-secondary">{{question.options[1].option}}</button> -->

                        <button type="button" class="btn btn-{{question.answer !== 1 ? 'outline-' : ''}}secondary" style="width: 150px;">{{question.options[0].option}}</button>
                        <button type="button" class="btn btn-{{question.answer !== 2 ? 'outline-' : ''}}secondary" style="width: 150px;">{{question.options[1].option}}</button>
                        <button type="button" class="btn btn-{{question.answer !== 3 ? 'outline-' : ''}}secondary" style="width: 150px;">{{question.options[2].option}}</button>
                        <button type="button" class="btn btn-{{question.answer !== 4 ? 'outline-' : ''}}secondary" style="width: 150px;">{{question.options[3].option}}</button>



                        <!-- <input type="radio" class="btn-check" name="btnradio__{{question.questionID}}" id="btnradio1__{{question.questionID}}" autocomplete="off" [checked]="question.questionStatus === 1" >
                        <label class="btn btn-outline-success" for="btnradio1__{{question.questionID}}">{{ question.options[0].option }}</label>
                        <input type="radio" class="btn-check" name="btnradio__{{question.questionID}}" id="btnradio2__{{question.questionID}}" autocomplete="off" [checked]="question.questionStatus === 2" >
                        <label class="btn btn-outline-warning" for="btnradio2__{{question.questionID}}">{{ question.options[1].option }}</label>
                        <input type="radio" class="btn-check" name="btnradio__{{question.questionID}}" id="btnradio3__{{question.questionID}}" autocomplete="off" [checked]="question.questionStatus === 3" >
                        <label class="btn btn-outline-secondary" for="btnradio3__{{question.questionID}}">{{ question.options[2].option }}</label>
                        <input type="radio" class="btn-check" name="btnradio__{{question.questionID}}" id="btnradio4__{{question.questionID}}" autocomplete="off" [checked]="question.questionStatus === 3" >
                        <label class="btn btn-outline-secondary" for="btnradio4__{{question.questionID}}">{{ question.options[3].option }}</label> -->
                    </div>
                </td>
                <!-- <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" (click)="showquestion(question.questionID)">Show</button>
                        <button type="button" class="btn btn-warning" (click)="editquestion(question.questionID)">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deletequestion(question.questionID)">Delete</button>
                    </div>
                </td> -->
            </tr>
        </tbody>
    </table>



      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
        [collectionSize]="questionInfo.collectionSize"
        [(page)]="questionInfo.page"
        [pageSize]="questionInfo.pageSize"
        (pageChange)="getQuestions()"
      ></ngb-pagination>
    </div>
	</div>
</div>
