.app-container {
  display: flex;
  height: 100vh;
}

app-sidenav {
  flex: 0 0 200px; /* Fix the width of the sidebar */
  background-color: #333;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
