<div style="padding-top: 10%;">


  <div class="center-align">
    <div class="wrapper fadeInDown">
    <div id="formContent">
      <form [formGroup]="loginForm" (ngSubmit)=loginSubmit()>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="username">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" formControlName="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
</div>
